@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.container {
    max-width: 92.42%;
    margin: 0 7.58%;
    width: 100%;
}

/* navbar */

#navbar {
    background: #000000;
    color: #fff;
    position: sticky;
    top: 0;
    display: flex;
    padding-top:5px;
    padding-bottom:5px;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

#navbar ul {
    list-style: none;
    display: flex;
    float: right;
}

#navbar h1 {
    float: left;
}

#navbar ul li a {
    color: #fff;
    padding: 0.75rem;
    margin: 0 0.25rem;
    text-decoration: none;
}

#navbar ul li a:hover {
    background: #242424; 
    border-radius: 5px;
}

#for_players div {
    justify-content: center;
    width: 100%;

    
}
#for_players div img{
    width: 92.42%;
    justify-content: center;
    display: flex;

}