body {
    margin: 0;
    padding: 0 20px;
    overflow: auto;
}


.image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0 200px;
}

img {
    width: 300px; /* Set the desired width */
    height: 200px; /* Set the desired height */
    margin: 30px;
}

.button {
    justify-content: space-around;
    position: sticky;
    text-align: center;
    display: inline-block;
    color:darkblue ;
}